[Unit]
Description=Wallpaper slide
Wants=lightdm.service
After=default.target
After=lightdm.service

[Service]
Type=simple
ExecStart=/usr/bin/wallee
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target
